option_settings:
  aws:ec2:vpc:
    VPCId: vpc-02bee6230604ca0ce
    Subnets: subnet-04a60c070a8bb04ab,subnet-0d6d758ec66d4dae6,subnet-04688692dab393577,subnet-09c84589fd207acdf

Resources:
  AWSEBAutoScalingGroup:
    Type: AWS::AutoScaling::AutoScalingGroup
    Properties:
      VPCZoneIdentifier:
        - subnet-04a60c070a8bb04ab
        - subnet-0d6d758ec66d4dae6
        - subnet-04688692dab393577
        - subnet-09c84589fd207acdf
      LaunchTemplate:
        LaunchTemplateId: lt-0e909f4ceafc3c6bd
        Version: '1'  # Ensure this version matches what you want to deploy
      MinSize: 1
      MaxSize: 4
      DesiredCapacity: 1